  .control-sidebar {
        position: absolute;
        padding-top: 0px;
        z-index: 900;
         right:-300px;
         width:300px;
         height:100%;
    }
    .control-sidebar-dark, .control-sidebar-dark+.control-sidebar-bg {
        background: white;
    }
    .control-sidebar-dark {
        color: black;
    }
    .control-sidebar-dark .control-sidebar-heading, .control-sidebar-dark .control-sidebar-subheading {
        color: black;
    }
    .form-inline .form-control {
      width:100%;
    }
    h4{
      margin-top:45px;
    }
    .form-group{
      margin-top:20px;
    }
    .select2-container--default .select2-selection--single {
      border-radius:0px;
      height:auto;
    }
    label{
      margin-bottom:10px;
    }