<template>
    <div>
        <nprogress-container></nprogress-container>
        
        <nav class="navbar" role="navigation" aria-label="dropdown navigation">
            <a class="navbar-item">
                <router-link :to="{ name: 'home' }">
                    <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
                </router-link> 
            </a>
            <div class="navbar-item" align="center">
                <input type="text" class="input" v-on:keyup.enter="cari" v-model="query.search" placeholder="Mencari barang..">
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <a :href="dashboard">Dashboard</a>
                </div>
                <div class="navbar-item">
                    <router-link :to="{name : 'cart'}">Keranjang({{totalQty}})</router-link>
                </div>
                <div class="navbar-item">
                    <a @click="isActive = !isActive;" class="is-primary modal-button" data-target="modal" aria-haspopup="true">Daftar Customer</a>
                </div>
            </div>
        </nav>
        <section class="section">
            <div class="container is-fluid">
                <br>
                <notifications group="foo" position="bottom left" />
                <router-view :key="$route.fullPath" ref="isi"></router-view>
            </div>
        </section>
        <div class="modal" v-bind:class="{ 'is-active': isActive}">
            <div class="modal-background"></div>
                <div class="modal-content">
                    <form method="post" @submit.prevent="onSubmit">
                        <div class="modal-card" style="width: auto">
                            <header class="modal-card-head">
                                <p class="modal-card-title">Daftar Customer</p>
                            </header>
                            <section class="modal-card-body">
                                <div class="field">
                                    <label class="label">Name</label>
                                    <div class="control has-icons-right">
                                        <input class="input" :class="{'is-danger': errors.name}" v-model="customer.name" type="text" placeholder="Nama input">
                                        <span v-if="errors.name" class="icon is-small is-right">
                                            <i class="fa fa-exclamation-triangle is-danger"></i>
                                        </span>
                                    </div>
                                    <span v-if="errors.name" class="help is-danger">{{ errors.name[0] }}</span>
                                </div>

                                <div class="field">
                                    <label class="label">Email</label>
                                    <div class="control has-icons-left has-icons-right">
                                        <input class="input" :class="{'is-danger': errors.email}" v-model="customer.email" type="email" placeholder="Email input" >
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <span v-if="errors.email" class="icon is-small is-right">
                                            <i class="fa fa-exclamation-triangle is-danger"></i>
                                        </span>
                                    </div>
                                    <span v-if="errors.email" class="help is-danger">{{ errors.email[0] }}</span>
                                </div>

                                <div class="field">
                                    <label class="label">Phone</label>
                                    <div class="control has-icons-left has-icons-right">
                                        <input class="input" :class="{'is-danger':errors.phone}" v-model="customer.phone" type="phone" placeholder="Phone input" value="">
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                        <span v-if="errors.phone" class="icon is-small is-right">
                                            <i class="fa fa-exclamation-triangle is-danger"></i>
                                        </span>
                                    </div>
                                    <span v-if="errors.phone" class="help is-danger">{{ errors.phone[0] }}</span>
                                </div>

                                <div class="field">
                                    <label class="label">Alamat</label>
                                    <div class="control">
                                        <textarea class="textarea" :class="{'is-danger' : errors.alamat}" v-model="customer.alamat" placeholder="Textarea"></textarea>
                                    </div>
                                    <span v-if="errors.alamat" class="help is-danger">{{ errors.alamat[0] }}</span>
                                </div>
                            </section>
                            <footer class="modal-card-foot">
                                <input class="button is-primary" type="submit" :class="{'is-loading': saved}" value="Submit"/>
                            </footer>
                        </div>
                    </form>
                </div>
                <a class="modal-close is-large" @click="isActive = !isActive;" aria-label="close"></a>
        </div>
    </div>
</template>
<script>
import NprogressContainer from 'vue-nprogress/src/NprogressContainer'
export default {
    name : 'App',
    components : {
        NprogressContainer
    },
    data() {
        return {
            isActive : false,saved:false, message : null, choose : null,totalQty : null,
            errors : [],
            customer : {
                name : null, phone : null, email : null, alamat : null
            }, dashboard : window.location.origin+'/private/home',
            query : {search : null }
        }
    },
    created(){
        this.cart();
        this.query.search = this.$route.params.search
    },
    methods : {
        onSubmit(){
            this.saved = !this.saved
            this.$http.post(Laravel.baseUrl+'/customer', this.customer)
                .then(response => {
                    this.reset()
                    this.saved = !this.saved
                    this.isActive = !this.isActive
                    this.$notify({
                        group : 'foo',
                        type : 'success',
                        title : 'Customer',
                        text : 'Customer berhasil ditambahkan'
                    })
                    this.$ref.isi.getCustomers();
                }).catch(error => { 
                    if(error){
                        if(error.response.status == 422){
                            this.saved = false
                            this.errors = error.response.data.errors
                            this.$notify({
                                group : 'foo',
                                type : 'error',
                                title : 'Error',
                                text : 'Lengkapi data'
                            })
                        }
                    }
                });
        },
        cart(){
            this.$http.get(Laravel.baseUrl + '/getTotalQty').then(response => {
                this.totalQty = response.data
            });
        },
        cari(){
            this.$router.push({name : 'search', params : {search : this.query.search}})
        },
        reset() {
            this.errors = [];
            this.customer = {name : null, phone : null, email : null, alamat : null};
        }
    }
}
</script>
<style>
.modal-content, .modal-card {
    margin: 0 5px;
}
.section{
    padding-top : 0px;
}
</style>
