<template>
    <div>
        <div class="columns is-variable" v-if="this.$parent.totalQty>0">
            <nav class="panel column is-8">
                <p class="panel-heading">Barang Belanja</p>
                <div class="panel-block">
                    <div class="content">
                        <article class="media" v-for="cart in carts" v-bind:key="cart.id">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <img :src="cart.attributes.gambar" alt="Image">
                                    <div class="is-hidden-desktop">
                                        <p>{{cart.price*cart.quantity | rupiah}}</p>
                                    </div>
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="columns">
                                    <div class="column is-hidden-mobile">
                                        <h1 class="name">{{cart.name}}</h1>
                                        <small>{{cart.attributes.brand}} - {{cart.attributes.category}}</small>
                                        <p>
                                            {{cart.attributes.roll}} - {{cart.attributes.pattern}} - {{cart.attributes.warna}}  
                                            <br>
                                            Qty : {{cart.quantity}}  
                                        </p>
                                    </div>
                                    <div class="column is-pulled-right">
                                        <div class="is-hidden-desktop">
                                            <h1 class="name">{{cart.name}}</h1>
                                            <small>{{cart.attributes.brand}} - {{cart.attributes.category}}</small>
                                            <small class="black">{{cart.attributes.roll}} - {{cart.attributes.pattern}} - {{cart.attributes.warna}}  </small>
                                            Qty : {{cart.quantity}}  
                                            <span class="icon" @click="hapus(cart.id)"><i class="fa fa-trash fa-lg"></i> </span> 
                                        </div>
                                        <div class="is-hidden-mobile">
                                            <h1>{{cart.price*cart.quantity | rupiah}}</h1>
                                            <span class="icon" @click="hapus(cart.id)">
                                                <i class="fa fa-trash fa-2x"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </nav>
            <nav class="column is-4">
            <form method="post" @submit.prevent="order">
                <p class="panel-heading">Informasi Umum</p>
                <div class="panel-block nb-bottom">
                    <div class="content is-fullwidth">
                        <div class="control has-icons-left is-fullwidth">
                            <div class="select is-fullwidth" :class="{'is-danger': errors.customer}">
                                <select v-model="selectedCustomer">
                                    <option value="">-Pilih Pelanggan -</option>
                                    <option v-for="customer in customers" v-bind:key="customer.id"  :value="customer.id" >{{customer.name}}</option>
                                </select>
                            </div>
                            <div class="icon is-small is-left">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <span v-if="errors.customer" class="help is-danger">{{ errors.customer[0] }}</span>
                    </div>
                </div>
                <div class="panel-block">
                    <div class="content is-fullwidth">
                        <div class="control has-icons-left is-fullwidth" >
                            <div class="select is-fullwidth" :class="{'is-danger': errors.customer}">
                                <select v-model="selectedAddress" class="is-fullwidth">
                                    <option value="">-Pilih Alamat-</option>
                                    <option v-for="alamat in alamats" v-bind:key="alamat.id"  :value="alamat.id" >{{alamat.warehouse}}</option>
                                </select>
                            </div>
                            <div class="icon is-small is-left">
                                <i class="fa fa-home"></i>
                            </div>
                        </div>
                        <span v-if="errors.alamat" class="help is-danger">{{ errors.alamat[0] }}</span>
                    </div>
                </div>
                <div class="panel-block total nb-bottom">
                    <p class="column is-half is-pulled-left">
                        Total Belanja : 
                    </p>
                    <p class="column is-half is-pulled-right">{{total | rupiah}}</p>
                </div>
                <div class="panel-block">
                    <button class="button is-outlined is-fullwidth" :disabled="loading" :class="{'is-loading' : loading}">
                        Simpan
                    </button>
                </div>
                </form>
            </nav>
        </div>
        <section class="hero is-medium" v-if="this.$parent.totalQty==0">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Keranjang Kosong
                    </h1>
                    <h2 class="subtitle is-pulled-left">
                        Silahkan pilih barang <a><router-link :to="{ name: 'home' }">disini</router-link></a>
                    </h2>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
export default {
    data(){
        return {
            loading : false, alamats : [], errors : [], customers : null, carts : null, total : null, selectedAddress : '', selectedCustomer : ''
        };
    },
    created(){
        this.getCarts();
        this.getCustomers();
    },
    watch: {
        selectedCustomer:function(){
            this.alamats = []
            if (this.selectedCustomer.length > 0) {
                this.$http.get(Laravel.baseUrl + '/customer/'+this.selectedCustomer).then(response => {
                    this.alamats = response.data
                });
            }
        }
    },
    methods : {
        getCustomers(){
            this.$http.get(Laravel.baseUrl+ '/customers').then(response => {
                this.customers  = response.data
            });
        },
        getCarts(){
            this.$http.get(Laravel.baseUrl + '/cart').then(response => {
                this.carts = response.data.content
                this.total = response.data.total
            });
        },
        hapus(id){
            var result = confirm("Yakin Dihapus ?")
            if (result) {
                this.$http.get(Laravel.baseUrl+'/cart/remove/'+id).then(response => {
                    this.$notify({
                        group : 'foo',
                        type : 'success',
                        title : 'Hapus Barang',
                        text : 'Barang telah dihapus dari keranjang'
                    })
                    this.getCarts()
                    this.$parent.cart()
                });
            }
        },
        order(){
            this.loading = !this.loading;
            this.$http.post(Laravel.baseUrl + '/order', {alamat : this.selectedAddress, customer : this.selectedCustomer}).then(response => {
                this.$notify({
                    group : 'foo',
                    type : 'success',
                    title : 'Berhasil',
                    text : 'Data sudah dikirim'
                })
                this.loading = !this.loading
                this.getCarts()
                this.$parent.cart()
            }).catch(error => { 
                if(error){
                    if(error.response.status == 422){
                        this.errors = error.response.data.errors
                        this.$notify({
                            group : 'foo',
                            type : 'error',
                            title : 'Error',
                            text : 'Lengkapi data'
                        })
                        this.loading = !this.loading
                    }
                }
            });
        }
    }
}
</script>
<style>
.content,select{
    width: 100% !important;
    border-radius: 0px;
}
.is-pulled-right{
    text-align:right
}
.is-pulled-left{
    text-align: left;
    padding-left: 0px !important;
}
.total{
    font-weight: bolder;    
}
.nb-bottom{
    border-bottom : none;
}
.media-content{
    overflow: hidden;
}
.is-pulled-right h1{
  text-align: right;
}
.fa-trash{
    color:red;
}
h1.name{
    margin-bottom: 0px !important;
}
small{
    color:grey;
}
.black{
    color: black !important;
}
</style>

