<template>
    <div>
        <div class="buttons has-addons is-centered">
            <span @click="slug = 'all'" :to="{name : 'home'}" class="button is-medium" :class="{'is-selected is-info': slug == 'all'}" >Semua</span>
            <span @click="slug = category.slug" :class="{'is-selected is-info' : slug == category.slug}" class="button is-medium" v-for="category in categories" v-bind:key="category.id">{{category.name}}</span>
            <!-- <span @click="slug = 'kosong'" :to="{name : 'kosong'}" class="button is-medium" :class="{'is-selected is-info': slug == 'kosong'}" >Kosong</span> -->
        </div>
        <div class="columns is-variable">
            <div class="column is-3" v-bind:key="product.id" v-for="product in products" v-if="!loading">
                <router-link :to="{name:'product.detail', params : {slug : product.slug}}">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-square">
                                <img :src="JSON.parse(product.variants[0].picture.toString())[0]" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p class="title is-6">{{product.name}} - <small>{{product.categories.name}}</small> <br> <label for="">{{product.brands.brand_name}}</label> </p>
                            {{product.desc}}
                            <br>
                            <time datetime="2016-1-1">{{product.created_at | datetime }}</time>
                            </div>
                        </div>
                    </div>
                </router-link>
            </div>
        </div>
        <div v-if="loading">
            <div class="columns" v-if="fake % 3 ==0" v-for="fake in fakes" v-bind:key="fake">
                <div class="column is-one-quarter" v-for="fake in fakes" v-if="fake % 3 ==0" v-bind:key="fake">
                    <vue-content-loading :width="300" :height="300" >
                        <rect x="0" y="13" rx="4" ry="4" width="300" height="200" />
                        <rect x="0" y="230" rx="4" ry="4" width="300" height="30" />
                        <rect x="0" y="280" rx="4" ry="4" width="300" height="20" />
                    </vue-content-loading>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import moment from 'moment'
    import lodash from "lodash";
    import VueContentLoading from 'vue-content-loading';
    export default {
        name: 'home',
        components : {
            VueContentLoading,
        },
        data () {
            return {
                loading :true,
                products : [],
                error : [],
                fakes : 12, categories :null, slug : 'all'
            };
        },
        created(){
            this.fetchData();
        },
        watch : {
            slug (value){
                this.loading = true
                this.$http.get('/api/category/'+value).then(response => {
                    this.products = response.data;
                    this.loading = false
                })
            }
        },
        methods : {
            fetchData(){
                this.$http.get('/api/products').then(response => {
                    this.loading = false
                    this.products = response.data.products
                    this.categories = response.data.categories
                });
            }
        },
        filters : {
            datetime : function(value){
                if (value) {
                    return moment(String(value)).format('DD MMMM YYYY - hh:mm')
                }
            }
        }
    }
</script>
<style>
small{
    color:grey;
}
label{
    font-size: 15px;
    color: royalblue
}

</style>
