<template>
    <div>
        <div class="columns is-1" v-if="loading">
            <div class="column is-half">
                <vue-content-loading :width="300" :height="300" >
                    <rect x="0" y="13" rx="4" ry="4" width="300" height="200" />
                    <rect x="0" y="220" rx="4" ry="4" width="300" height="30" />
                </vue-content-loading>
            </div>
            <div class="column is-half">
                <vue-content-loading :width="300" :height="300" >
                    <rect x="0" y="13" rx="4" ry="4" width="300" height="30" />
                    <rect x="0" y="53" rx="4" ry="4" width="300" height="30" />
                    <rect x="0" y="93" rx="4" ry="4" width="300" height="30" />
                    <rect x="0" y="133" rx="4" ry="4" width="300" height="30" />
                    <rect x="0" y="173" rx="4" ry="4" width="300" height="30" />
                    <rect x="0" y="213" rx="4" ry="4" width="300" height="38" />
                </vue-content-loading>
            </div>
        </div>
        <div class="columns" v-if="!loading">
            <div class="column is-4">
                <div class="columns is-hidden-desktop is-hidden-tablet is-mobile" >
                    <div class="column">
                        <h1 class="title">{{products.name}}</h1>
                        <h1 class="subtitle">
                            {{products.brands.brand_name}} - {{products.categories.name}} <br>
                            {{parseInt(products.price) | rupiah}}
                        </h1>
                    </div>
                </div>
                <div class="">
                    <div class="card-image" align="center">
                        <ProductZoomer v-if="!variant" v-bind:baseImages="images" :baseZoomerOptions="zoomerOptions"></ProductZoomer>
                        <ProductZoomer v-show="variant" v-bind:baseImages="variantImages" :baseZoomerOptions="zoomerOptions"></ProductZoomer>
                    </div>
                </div> 
            </div>
            <div class="column">
                <div class="columns is-hidden-mobile" >
                    <div class="column">
                        <h1 class="title">{{products.name}}</h1>
                        <h1 class="subtitle">{{products.brands.brand_name}} - {{products.categories.name}}</h1>
                    </div>
                    <div class="column">
                        <h2>{{parseInt(products.price) | rupiah}}</h2>
                        <br>
                    </div>
                </div>
                <div class="columns is-mobile"> 
                    <div class="column">
                        <div class="content">
                            <h5>Warna</h5>
                            <button @click="pilih(name,$event, 'warna')" :class="{'active': activeBtn===name}" class="button is-outlined" :disabled="disabled" v-for="{name, disabled} in warnas" v-bind:key="name">{{name}}<selectIcon v-show="activeBtn===name"></selectIcon></button>
                        </div>
                        <div class="content">
                            <h5>Pattern</h5>
                            <button @click="pilih(name,$event, 'pattern')" :class="{'active': activeBtn2===name}" class="button is-outlined" :disabled="disabled" v-for="{name, disabled} in patterns" v-bind:key="name">{{name}}<selectIcon v-show="activeBtn2===name"></selectIcon></button>
                        </div>
                        <div class="content">
                            <h5>Roll</h5>
                            <button @click="pilih(name,$event, 'roll')" :class="{'active': activeBtn3===name}" class="button is-outlined" :disabled="disabled" v-for="{name, disabled} in rolls" v-bind:key="name">{{name}}<selectIcon v-show="activeBtn3===name"></selectIcon></button>
                        </div>
                    <h5 class="help">*) Harga asli akan ditampilkan setelah selesai memilih variant</h5>
                    </div>
                </div>
                <hr>
                <form method="post" @submit.prevent="belanja">
                    <input type="hidden" v-model="cart.id">
                    <div class="columns">
                        <div class="column is-3">
                            <input type="number" v-model="cart.qty" class="input qty is-pull-left is-large" placeholder="Qty">
                        </div>
                        <div class="column">
                            <input readonly v-model="total" class="input totals is-large">
                        </div>
                        <div class="column is-2" style="text-align:right;">
                            <input type="submit" class="button is-dark is-large" value="Beli">
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import {_} from "vue-underscore";
    import ProductZoomer from 'vue-product-zoomer'
    import VueContentLoading from 'vue-content-loading';
    Vue.component('selectIcon', {
        template: ' <div class="select-icon"><i class="fa fa-check-circle fa-lg"></i></div>'
    });
    export default {
        components : {
            VueContentLoading
            , ProductZoomer
        },
        data () {
            return {
                loading :true, variant : false, variantImages : { 'thumbs' : [], 'normal_size' : [], 'large_size' : [] },
                products : {
                    name : '', brands : '', categories : '', created_at : '',  price : 0, desc : ''
                },  
                cart : { id : '', item_id: '', id_variant : '', name : '', price : 0, warna : null, roll : null, pattern : null, qty : 0},
                warnas : [], rolls : [], patterns : [], warnaSearch : [], patternSearch : [], rollSearch : [],
                warnaSearchArr : [], patternSearchArr : [], rollSearchArr : [], paramSearch : {},
                activeBtn : '', activeBtn2 : '', activeBtn3 : '',
                errors : null, total : '', images : {
                    'thumbs' :[{'id': 1, 'url' : 'https://img.alicdn.com/imgextra/i1/745399867/TB1E_ZLkjuhSKJjSspmXXcQDpXa_!!0-item_pic.jpg_60x60q90.jpg'},
                        { 'id': 2, 'url' : 'https://img.alicdn.com/imgextra/i1/745399867/TB2XstdbSXlpuFjy0FeXXcJbFXa_!!745399867.jpg_60x60q90.jpg' },
                        { 'id': 3, 'url' : 'https://img.alicdn.com/imgextra/i1/745399867/TB2dBMpkamgSKJjSsphXXcy1VXa_!!745399867.jpg_60x60q90.jpg' },
                        { 'id': 4, 'url' : 'https://img.alicdn.com/imgextra/i3/745399867/TB2.br0XAT85uJjSZFgXXcZvVXa_!!745399867.jpg_60x60q90.jpg' }],
                    'normal_size':[{ 'id' : 1, 'url' : 'http://img.alicdn.com/imgextra/i1/745399867/TB1E_ZLkjuhSKJjSspmXXcQDpXa_!!0-item_pic.jpg' },
                        { 'id' : 2, 'url' : 'https://img.alicdn.com/imgextra/i1/745399867/TB2XstdbSXlpuFjy0FeXXcJbFXa_!!745399867.jpg' },
                        { 'id' : 3, 'url' : 'https://img.alicdn.com/imgextra/i1/745399867/TB2dBMpkamgSKJjSsphXXcy1VXa_!!745399867.jpg' },
                        { 'id' : 4, 'url' : 'https://img.alicdn.com/imgextra/i3/745399867/TB2.br0XAT85uJjSZFgXXcZvVXa_!!745399867.jpg' }] 
                }, zoomerOptions: {
                    'zoomFactor': 3,
                    'pane': 'pane',
                    'hoverDelay': 200,
                    'namespace': 'zoomer',
                    'move_by_click':false,
                    'scroll_items': 4,
                    'choosed_thumb_border_color': "#000"
                }
            };
        },
        created(){
            this.fetchData();
        },
        methods : {
            fetchData(){
                this.$http.get(Laravel.baseUrl+'/product/'+this.$route.params.slug)
                .then(response => {
                    this.total = response.data.total + 'pcs'
                    this.products = response.data.hasil
                    for (let index = 0; index < response.data.hasil.variants.length; index++) {
                        if (response.data.hasil.variants[index].warna) {
                            this.warnas.push({name : response.data.hasil.variants[index].warna, disabled : (response.data.hasil.variants[index].value > 0) ? false:true});
                        }
                        if (response.data.hasil.variants[index].pattern) {
                            this.patterns.push({name : response.data.hasil.variants[index].pattern, disabled : (response.data.hasil.variants[index].value > 0) ? false:true});
                        }
                        if (response.data.hasil.variants[index].roll) {
                            this.rolls.push({name : response.data.hasil.variants[index].roll, disabled : (response.data.hasil.variants[index].value > 0) ? false:true});
                        }
                        
                    }
                    
                    this.warnas = this.myFilter(this.warnas, 'name')
                    this.rolls = this.myFilter(this.rolls,'name')
                    this.patterns = this.myFilter(this.patterns, 'name')
                    this.cart.item_id = this.products.id
                    this.paramSearch.item_id = this.products.id
                    this.loading = false
                    this.variant = false
                })
                .catch(error => {
                    this.$router.push('page/404')
                });
            },
            pilih(value,event,par){
                if (par == 'warna') {
                    if(value == this.paramSearch.warna){
                        this.activeBtn = ''
                        this.paramSearch.warna = null
                    }else{
                        this.activeBtn = value
                        this.paramSearch.warna = null
                        this.paramSearch.warna  = value
                    }
                }
                if (par == 'pattern') {
                    if(value == this.paramSearch.pattern){
                        this.activeBtn2 = ''
                        this.paramSearch.pattern = null
                    }else{
                        this.paramSearch.pattern = null
                        this.activeBtn2 = value
                        this.paramSearch.pattern  = value
                    }
                }
                if (par == 'roll') {
                    if(value == this.paramSearch.roll){
                        this.activeBtn3 = ''
                        this.paramSearch.roll = null
                    }else{
                        this.activeBtn3 = value
                        this.paramSearch.roll = null
                        this.paramSearch.roll  = value
                    }
                }
                this.variant = false
                if(this.paramSearch.roll || this.paramSearch.warna || this.paramSearch.pattern){
                    this.variant = true
                }
                this.$http.post(Laravel.baseUrl+'/searchVariant', this.paramSearch)
                .then(response => {
                    this.total = response.data.total +'pcs'
                    this.warnaSearch = [], this.patternSearch = [], this.rollSearch = []
                    var a = 0, b = response.data.hasil.length, images = null ;
                    
                    for (let index = 0; index < response.data.hasil.length; index++) {
                        this.warnaSearch.push({name : response.data.hasil[index].warna})
                        this.patternSearch.push({name : response.data.hasil[index].pattern})
                        this.rollSearch.push({name : response.data.hasil[index].roll})
                        a += parseInt(response.data.hasil[index].price); 
                    }
                                        
                    images = _.without(JSON.parse(response.data.hasil[0].picture.toString()), null)
                    this.variantImages.thumbs.length = 0
                    this.variantImages.normal_size.length = 0
                    $(".container-zoomer-zoomer-box #container-zoomer-pane-container").attr("style", "width: 461.194px; height: 457.156px; left: 445.328px; top: 76px;")
                    for (let index = 0; index < images.length; index++) {
                        this.variantImages.thumbs.push({id : index+1, url : images[index]})
                        this.variantImages.normal_size.push({id : index+1, url : images[index]})
                        this.variantImages.large_size.push({id : index+1, url : images[index]})
                    }
                    
                    this.$children[0].choosedThumb = {id : 1, url : this.variantImages.thumbs[0].url}
                    $('.container-zoomer-zoomer-box .preview-box img').attr('data-zoom', this.variantImages.thumbs[0].url);
                    
                    if(response.data.hasil.length == 1){
                        this.total = response.data.total +'pcs'+' - '+response.data.warehouse.warehouses[0].name
                        this.cart.id = response.data.hasil[0].item_id
                        this.cart.name = this.products.name
                        this.cart.warna = response.data.hasil[0].warna
                        this.cart.roll = response.data.hasil[0].roll
                        this.cart.pattern = response.data.hasil[0].pattern
                        this.cart.price = response.data.hasil[0].price
                        this.cart.gambar = images[0]
                        this.cart.id_variant = response.data.hasil[0].id_variant
                        this.cart.warehouse = response.data.hasil[0].warehouse
                        this.cart.brand = this.products.brands.brand_name
                        this.cart.category = this.products.categories.name
                        this.products.price = parseInt(response.data.hasil[0].price)
                    }

                    this.products.price = parseInt(a)/parseInt(b);
                    this.warnaSearchArr = this.check(this.myFilter(this.warnaSearch, 'name'))
                    this.patternSearchArr = this.check(this.myFilter(this.patternSearch, 'name'))
                    this.rollSearchArr = this.check(this.myFilter(this.rollSearch, 'name'))
                    
                    if (par == 'roll') {
                        this.warna()
                        this.roll()
                        this.pattern()
                    }
                    if(par == 'pattern'){
                        this.warna()
                        this.pattern()
                        this.roll()
                    }
                    if(par == 'warna'){
                        this.warna()
                        this.pattern()
                        this.roll()
                    }
                });
            },
            myFilter(arr, prop) {
                let obj = {};
                return Object.keys(arr.reduce((prev, next) => {
                    if(!obj[next[prop]]) obj[next[prop]] = next; 
                    return obj;
                }, obj)).map((i) => obj[i]);
            },
            check(myArray){
                var arr = new Array();
                myArray.filter(function(elem, index){
                    arr.push(elem.name)
                })
                return arr;
            },
            warna(){
                for (let index = 0; index < this.warnas.length; index++) {
                    this.warnas[index].disabled = false
                    if (!this.warnaSearchArr.includes(this.warnas[index].name)) {
                        this.warnas[index].disabled = true
                    }
                }
            },
            roll(){
                for (let index = 0; index < this.rolls.length; index++) {
                    this.rolls[index].disabled = false
                    if (!this.rollSearchArr.includes(this.rolls[index].name)) {
                        this.rolls[index].disabled = true
                    }
                }
            },
            pattern(){
                for (let index = 0; index < this.patterns.length; index++) {
                    this.patterns[index].disabled = false
                    if (!this.patternSearchArr.includes(this.patterns[index].name)) {
                        this.patterns[index].disabled = true
                    }
                }
            },
            belanja(){
                if($("button.active:enabled").length < $("button:enabled").length){
                    this.$notify({
                        group : 'foo',
                        type : 'info',
                        title : 'Info',
                        text : 'Pilih Variant'
                    })
                }else if(!this.cart.qty || parseInt(this.cart.qty) == 0){
                    this.$notify({
                        group : 'foo',
                        type : 'info',
                        title : 'Info',
                        text : 'Kuantiti harus lebih dari 0'
                    })
                }else{
                    this.loading = true;
                    this.$http.post(Laravel.baseUrl + '/cart', this.cart).then(response => {
                        this.$notify({
                            group : 'foo',
                            type : 'success',
                            title : 'Berhasil',
                            text : 'Barang berada di keranjang'
                        })
                        this.reset()
                        this.loading = false
                    });
                }
            },
            reset(){
                this.cart = { id : '', name : '', price : 0, warna : '', roll : '', pattern : '', qty : 0}
                this.activeBtn = '', this.activeBtn2 = '', this.activeBtn3  = ''
                this.products = { name : '', brands : '', categories : '', created_at : '',  price : 0, desc : '' }  
                this.warnas = [], this.rolls = [], this.patterns = [], this.pictures = []
                this.warnaSearch = [], this.patternSearch = [], this.rollSearch = [],
                this.warnaSearchArr = [], this.patternSearchArr = [], this.rollSearchArr = [],
                this.activeBtn = '', this.activeBtn2 = '', this.activeBtn3 = ''
                this.fetchData()
                this.$parent.cart()
            }
        }
    }
</script>
<style>
h2{
    float:right;
    text-align:right;
    font-size:30px;
}
div.column{
    display: inline;
}
.is-outlined{
    margin-bottom: 10px;
    margin-right:10px;
} 
.select-icon {
    background: #fff;
    position: absolute;
    bottom: 0px;
    right: -8px;
    max-height: 18px;
} 
.active {
    background-color: transparent;
    border-color: #209cee !important;
    color: #209cee !important;
}
.button:hover, .button.is-hovered .active{
    border-color: #209cee !important;
    color: #209cee !important;
}
.totals{
    border:none;
}
.pane-container{
    top: 0px !important;
    left : 390px !important;
}
.thumb-list img{
    width: 60px;
}
.choosed-thumb{
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px !important;
}
.control {
    font-size : medium !important;
}
.control i {
    display: none !important;
}
</style>
