<template>
    <div>
        <div class="columns is-variable">
            <div class="column is-3" v-bind:key="product.id" v-for="product in products" v-if="loading">
                <router-link :to="{name:'product.detail', params : {slug : product.slug}}">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img :src="JSON.parse(product.variants[0].picture.toString())[0]" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p class="title is-6">{{product.name}} - <small>{{product.categories.name}}</small> <br> <label for="">{{product.brands.brand_name}}</label> </p>
                            {{product.desc}}
                            <br>
                            <time datetime="2016-1-1">{{product.created_at | datetime }}</time>
                            </div>
                        </div>
                    </div>
                </router-link>
            </div>
        </div>
        <section class="hero is-medium"  v-if="empty">
            <div class="hero-body">
                <div class="container">
                <h1 class="title">
                    404
                </h1>
                <h2 class="subtitle">
                    Maaf, barang tidak ditemukan
                </h2>
                </div>
            </div>
        </section>
        <div v-if="!loading">
            <div class="columns" v-if="fake % 3 ==0" v-for="fake in fakes" v-bind:key="fake">
                <div class="column is-one-quarter" v-for="fake in fakes" v-if="fake % 3 ==0" v-bind:key="fake">
                    <vue-content-loading :width="300" :height="300" >
                        <rect x="0" y="13" rx="4" ry="4" width="300" height="200" />
                        <rect x="0" y="230" rx="4" ry="4" width="300" height="30" />
                        <rect x="0" y="280" rx="4" ry="4" width="300" height="20" />
                    </vue-content-loading>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import moment from 'moment'
    import lodash from "lodash";
    import VueContentLoading from 'vue-content-loading';
    export default {
        name: 'home',
        components : {
            VueContentLoading,
        },
        computed:{
        },
        data () {
            return {
                loading :false,empty : false,
                products : [],
                error : [],
                fakes : 12
            };
        },
        created(){
            this.fetchData();
        },
        methods : {
            fetchData(value){
                this.$http.post(Laravel.baseUrl+'/productSearch', {search : this.$route.params.search})
                .then(response => {
                    if(response.data.length > 0){
                        this.products = response.data
                    }else{
                        this.empty = true
                    }
                    this.loading = true
                }).catch(error =>{ 
                    this.$router.go(-1)
                });
            }
        },
        filters : {
            datetime : function(value){
                if (value) {
                    return moment(String(value)).format('DD MMMM YYYY - hh:mm')
                }
            }
        }
    }
</script>
<style>
small{
    color:grey;
}
label{
    font-size: 15px;
    color: royalblue
}
</style>
